<tr id='<%= "post-#{post.id}"%>'>
  <td class='<%= "#{primary_td} pl-8"%>'> <%= post.title %> </td>
  <td class='<%= "#{primary_td}"%>'> <%= post.description %> </td>
  <td class='<%= "#{primary_td} pr-8"%>'> <%= post.status.titleize %> </td>
  <td class='<%= "#{primary_td} pr-8"%>'> <%= post.display_published_on %> </td>
  <td class='<%= "#{primary_td} pr-12"%>'>
   <%= render 'topics/posts/partials/post_actions', topic: topic, post: post %>
  </td>
</tr>