<div class="container-md">
  <h1 class="text-3xl font-bold text-slate-200 underline"> Sign in </h1>

   <%= form_with url: sessions_path, data: { turbo_method: :post} do |f| %>
      <p class="max-w-l mt-4">
        <%= f.label :email %>
        <br> 
        <%= f.text_field :email %>
      </p>

      <p  class="max-w-l mt-4">
        <%= f.label :password %>
        <br>
        <%= f.password_field :password %>
      </p>

      <button class="bg-sky-700 hover:bg-sky-500 text-white font-bold py-2 px-4 rounded mt-4 ml-2" >
        <%= f.submit "Sign in" %>
      </button>

      <button class="bg-sky-700 hover:bg-sky-500 text-white font-bold py-2 px-4 rounded mt-4 ml-14" >
        <%= link_to "Sign up", new_user_path %>
      </button>
      <% end %>
</div>