<%= turbo_frame_tag "main_view" do  %>
<div class="container-md">
  <h1 class='<%="#{primary_header}"%>'> Sign in </h1>

   <%= form_with url: sessions_path, html: {class: "#{primary_form} mt-2 p-8"}, data: { turbo_method: :post} do |f| %>
      <p class="max-w-l mt-4">
        <%= f.label :email %>
        <br> 
        <%= f.text_field :email %>
      </p>

      <p  class="max-w-l mt-4">
        <%= f.label :password %>
        <br>
        <%= f.password_field :password %>
      </p>

      <button class='<%="#{secondary_button} ml-2"%>' >
        <%= f.submit "Sign in", data: {turbo_action: :advance}%>
      </button>

      <button class='<%="#{secondary_button} ml-14"%>'>
        <%= link_to "Sign up", new_user_path, data: {turbo_action: :advance} %>
      </button>
    <% end %>
</div>
<% end %>