<div class="container-md">
  <h1 class='<%="#{primary_header}"%>'> Topic Details </h1>

  <%= render "topics-buttons", view: :edit, cached: true %>
  
  <%= render "form" , topic: @topic %>

  <button class='<%="#{primary_button}"%>'>
    <%= link_to "Cancel Edit", topic_path(@topic.id) %>
  </button>
</div>