<% url_path = view == :new ? group_section_posts_path(group, section) : group_section_post_path(group, section, post) %> 

<div class='<%="#{primary_form} p-10 m-10"%>'>
  <%= form_with model: post, url: url_path do |f| %>
    <p class="max-w-l">
      <%= f.label :title %> <br> <%= f.text_field :title %>
    </p>

    <p class="max-w-l mt-4">
      <%= f.label :description %> 
      <br>
      <%= f.text_area :description %>
    </p>

    <p  class="max-w-xl mt-4">
      <%= f.label :content %>
      <br>
      <%= f.rich_text_area :content %>
    </p>

    <button class='<%="#{secondary_button}"%>'>
      <%= f.submit data: {turbo_action: :advance }%>
    </button>
  <% end %>
</div>