<% url_path = view == :new ? group_section_posts_path(group, section) : group_section_post_path(group, section, post) %> 

<div class='<%="#{primary_form} p-10 m-10"%>'>
  <%= form_with model: post, url: url_path do |f| %>
    <p class="max-w-l">
      <%= f.label :title %> <br> <%= f.text_field :title %>
    </p>

    <p class="max-w-l mt-4">
      <%= f.label :status %> 
      <br>
      <%= f.select :status, post_statuses_options %>
    </p>

    <p  class="max-w-xl mt-4">
      <%= f.label :content %>
      <br>
      <%= f.rich_text_area :content %>
    </p>

  <% if post.images.any?  %>
  <div class="flex justify-items mt-4">
    <% post.images.each do |image| %>
      <div class="flex w-1/3">
        <%= link_to "X", post_image_path(post, image), data: { turbo_method: :delete } %>
        <%= image_tag(image.representation(resize_to_limit: [200, 200])) %>
        <button class='<%= "#{action_button} rounded-full opacity-50"%>'>
        </button>
      </div>
    <% end %>
    </div>
    <% end %>

    <% post.images.each do |image| %>
      <%= f.hidden_field :images, multiple: true, value: image.signed_id %>
    <% end %>

  <div data-controller="multi-upload">
    <div class="images">
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true,  data: { action: "multi-upload#addFile"} %>
    </div>

    <div data-multi-upload-target="files"></div>

    <button class='<%="#{secondary_button}"%>'>
      <%= f.submit data: {turbo_action: :advance }%>
    </button>
  <% end %>
</div>