
<tr id='<%= "post-#{post.id}"%>'>
  <td class='<%= "#{primary_td} pl-8"%>'> <%= post.display_published_or_created %> </td>
  <td class='<%= "#{primary_td}"%>'> <%= post.user.full_name %> </td>
  <td class='<%= "#{primary_td}"%>'> <%= post.title %> </td>
 <% if view == :unpublished %>
  <td class='<%= "#{primary_td} pr-8"%>'> <%= post.status.titleize %> </td> 
  <% end %>
  <td class='<%= "#{primary_td} pr-12"%>'>
   <%= render 'groups/sections/posts/partials/post_actions', user_group_section: user_group_section, group: group, section: section, post: post %>
  </td>
</tr>