<% time_text = view == :published ? "Published On" : "Created On" %>

<div class="bg-slate-200 mt-5">
  <table class="border-collapse table-auto w-full text-sm">
    <thead class="pt-5">
      <tr> 
        <th class='<%="#{primary_th} pl-8"%>'> <%= time_text %> </th>
        <th class='<%="#{primary_th}"%>'> Author </th>
        <th class='<%="#{primary_th}"%> pr-8'> Title </th>
         <% if view == :unpublished %>
          <th class='<%="#{primary_th} pr-8"%>'> Status </th>
        <% end %>
        <th class='<%="#{primary_th} pr-12"%>'> Actions </th>
      </tr>
    </thead>
    <tbody class="bg-white" id=<%="posts-#{view.to_s}-container"%>>
      <% posts.each do |post| %>
        <%= render 'groups/sections/posts/partials/post', user_group_section: user_group_section, group: group, section: section, post: post, view: view %>
      <% end%>
    </tbody>
  </table>
</div>