<div class="bg-slate-200 mt-5" id="posts-container">
  <table class="border-collapse table-auto w-full text-sm">
    <thead class="pt-5">
      <tr> 
        <th class='<%="#{primary_th} pl-8"%>'> Created </th>
        <th class='<%="#{primary_th}"%>'> Title </th>
        <th class='<%="#{primary_th} pr-8"%>'> Description </th>
        <th class='<%="#{primary_th} pr-8"%>'> Status </th>
        <th class='<%="#{primary_th} pr-8"%>'> Published On </th>
        <th class='<%="#{primary_th} pr-12"%>'> Actions </th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <% posts.each do |post| %>
        <%= render 'groups/sections/posts/partials/post', user_section: user_section, group: group, section: section, post: post %>
      <% end%>
    </tbody>
  </table>
</div>