<%= turbo_frame_tag "main_view" do  %>

        <div class='<%= "#{sticky_top_action_bar}" %>'> 
        <div class="mx-auto flex justify-center">
          <%= navigation_breadcrumbs(@group, @section) %>
          </div>
          <% if @user_group_section.can_post? || @user_group_section.moderator_or_creator? %>
            <% if @user_group_section.moderator_or_creator? %>
            <div class="mx-auto flex justify-center">
              <button class='<%="#{primary_button} mx-1"%>'>
                <%= link_to "Edit Section", edit_group_section_path(@group, @section), data: {turbo_action: :advance} %>
              </button>
            <% end %>
        <% if @user_group_section.can_post? %>
          <button class='<%="#{primary_button} mx-1"%>'>
            <%= link_to "New Post", new_group_section_post_path(@group, @section), data: { turbo_action: :advance} %>
          </button>
          </div>
      <% end %>
    <% end %>
        </div>

  <div class="container-md">
    
    <h1 class='<%="#{primary_header} mt-5"%>'> <%= @group.title %> : <%= @section.title %> Details </h1>

     <% if @user_group.moderator_or_creator? %>
    <div class='<%="#{primary_form} w-42 my-4"%>'>
     <p class="p-1 text-slate-600 flex justify-center font-medium mt-3 "> Status 
      <span class="flex justify-center ml-1"> | <%= @section.status.titleize %>  </span>  
      </p>
      </div> 
    <% end %>

    <% if @user_group_section.can_post? %>
    <div> 
        <h2 class='text-xl text-slate-200 font-bold underline mt-2 p-2 flex justify-center'> Pending/Hidden </h3>
        <div>
          <%= render 'groups/sections/posts/partials/posts', group: @group, user_group_section: @user_group_section, section: @section, posts: @unpublished_posts, view: :unpublished %>
        </div> 
    </div>
    <% end %>

    <div class="mb-10"> 
        <h2 class='text-xl text-slate-200 font-bold underline mt-2 p-2 flex justify-center'> Posts </h3>
        <div>
          <%= render 'groups/sections/posts/partials/posts', group: @group, user_group_section: @user_group_section, section: @section, posts: @posts, view: :published %>
        </div> 
    </div>

  </div>
<% end %>