<%= turbo_frame_tag "main_view" do  %>
  <div class="container-md">
    <h1 class='<%="#{primary_header}"%>'> Section Details </h1>

    <%= render "groups/sections/partials/sections-buttons", view: :show, cached: true %>
    
    <div class='<%="#{primary_form} flex justify-center mt-2"%>'> 
      <p class="my-2 p-2"> <span class="font-bold"> <%= @section.title %> </span> </p>

      <p  class="my-2 p-2"> Description: <%= @section.description %> </p> 

      <p class="my-2 p-2"> Status: <%= @section.status.titleize %> 
        <% if @section.published? %>
          on <%= @section.published_on.strftime("%D") %>
        <% end %>
        </p> 
    </div>

    <div class="container-md">
  <h1 class='<%="#{primary_header}"%>'> Topics </h1>

  <div class="bg-slate-200 mt-5">
    <table class="border-collapse table-auto w-full text-sm">
      <thead class="pt-5">
        <tr> 
          <th class='<%="#{primary_th} pl-8"%>'> Title </th>
          <th class='<%="#{primary_th}"%>'> Description </th>
          <th class='<%="#{primary_th} pr-8"%>'> Status </th>
          <th class='<%="#{primary_th} pr-12"%>'> Actions </th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <% @topics.each do |topic| %>
          <tr>
            <td class='<%= "#{primary_td} pl-8"%>'> <%= topic.title %> </td>
            <td class='<%= "#{primary_td}"%>'> <%= topic.description %> </td>
            <td class='<%= "#{primary_td} pr-8"%>'> <%= topic.status.titleize %> </td>
            <td class='<%= "#{primary_td} pr-12"%>'>
              <button class='<%="#{action_button}"%>'>
                <%= link_to "View", topic_path(topic.id), data: {turbo_action: :advance} %>
              </button>
              <button class='<%="#{action_button}"%>'>
                <%= link_to "Edit", edit_topic_path(topic.id), data: {turbo_action: :advance} %>
              </button>
              <button class='<%="#{action_button}"%>'>
                <%= link_to "Delete", topic_path(topic.id), data: {turbo_method: :delete } %>
              </button>
            </td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>

    <button class='<%="#{primary_button}"%>'>
      <%= link_to "Edit Section", edit_group_section_path(@group.id, @section.id), data: {turbo_action: :advance} %>
    </button>
    <button class='<%="#{primary_button}"%>'>
      <%= link_to "New Topic", new_topic_path, data: {turbo_action: :advance} %>
    </button>
  </div>
<% end %>