<%= turbo_frame_tag "main_view" do  %>
  <div class="container-md">
    
    <h1 class='<%="#{primary_header} mt-5"%>'> <%= @group.title %> : <%= @section.title %> Details </h1>
    
    <%= navigation_breadcrumbs(@group, @section) %>
    
    <% if @user_group_section.can_post? || @user_group_section.moderator_or_creator? %>
      <% if @user_group_section.moderator_or_creator? %>
        <div class="border-4 border-slate-400 bg-slate-200 w-42 px-2 pb-2 absolute left-4 mt-16"> 
          <p class="text-slate-600 flex justify-center font-medium mt-3"> * Status *  </p>
          <p class="flex justify-center mt-1"> <%= @section.status.titleize %> </p>

          <div class="mx-auto flex justify-items flex-col">
            <hr class="border-1 border-slate-600 mt-1" >
              <button class='<%="#{primary_button}"%>'>
                <%= link_to "Edit Section", edit_group_section_path(@group, @section), data: {turbo_action: :advance} %>
              </button>
            <% end %>
        <% if @user_group_section.can_post? %>
          <button class='<%="#{primary_button}"%>'>
            <%= link_to "New Post", new_group_section_post_path(@group, @section), data: { turbo_action: :advance} %>
          </button>
          </div>
        </div>
      <% end %>
    <% end %>
      

    <% if @user_group_section.can_post? %>
    <div> 
        <h2 class='text-xl text-slate-200 font-bold underline mt-2 p-2 flex justify-center'> Pending/Hidden </h3>
        <div>
          <%= render 'groups/sections/posts/partials/posts', group: @group, user_group_section: @user_group_section, section: @section, posts: @unpublished_posts, view: :unpublished %>
        </div> 
    </div>
    <% end %>

    <div class="mb-10"> 
        <h2 class='text-xl text-slate-200 font-bold underline mt-2 p-2 flex justify-center'> Posts </h3>
        <div>
          <%= render 'groups/sections/posts/partials/posts', group: @group, user_group_section: @user_group_section, section: @section, posts: @posts, view: :published %>
        </div> 
    </div>

  </div>
<% end %>