<%= turbo_frame_tag "main_view" do  %>
  <div class="container-md">
    <h1 class='<%="#{primary_header}"%>'> Group Details </h1>

    <%= render "groups/partials/groups-buttons", view: :edit, cached: true %>
    
    <%= render "groups/partials/form" , group: @group, view: :edit %>

    <button class='<%="#{primary_button}"%>'>
      <%= link_to "Cancel Edit", group_path(@group.id), data: {turbo_action: :advance} %>
    </button>
  </div>
  <% end %>