<%= turbo_frame_tag "main_view" do  %>

    <div class='<%="#{sticky_top_action_bar}" %>'> 
    <div class="mx-auto flex justify-center">
    <%= navigation_breadcrumbs(@group) %>
    </div>
    <% if @user_group.moderator_or_creator? %>
      <div class="mx-auto flex justify-center">
        <hr class="border-1 border-slate-600 mt-1">
        <button class='<%="#{primary_button} mx-1"%>'>
          <%= link_to "Edit Group", edit_group_path(@group), data: {turbo_action: :advance} %>
        </button>
        <button class='<%="#{primary_button} mx-1"%>'>
          <%= link_to "New Section", new_group_section_path(@group), data: {turbo_action: :advance} %>
        </button>
        <button class='<%="#{primary_button} mx-1"%>'>
          <%= link_to "Invite Users", new_group_invite_path(@group), data: {turbo_action: :advance} %>
        </button>
        <button class='<%="#{primary_button} mx-1"%>'>
          <%= link_to "View Invites", group_invites_path(@group), data: {turbo_action: :advance} %>
        </button>
        </div>
    <% end %>
    </div>

  <div class="container-md">
    
    <h1 class='<%="#{primary_header} mt-5"%>'> '<%= @group.title %>' Details </h1>
    
    <% if @user_group.moderator_or_creator? %>
    <div class='<%="#{primary_form}"%>'>
     <p class="p-1 text-slate-600 flex justify-center font-medium my-4"> Status | <span class="flex justify-center ml-1"> <%= @group.status.titleize %>  </span>   </p>
      </div> 
    <% end %>

    <%= render "groups/partials/groups-buttons", view: :show, cached: true, group: @group %>

  <% if @user_group.moderator_or_creator?  %>
    <% if @pending_sections.any? %>
          <h2 class='text-xl text-slate-200 font-bold underline mt-2 p-2 flex justify-center ml-5'> Unpublished / Hidden </h2>
    <% end %>
    <div class="mb-10"> 
            <%= render 'groups/partials/sections', group: @group, sections: @pending_sections, user_group: @user_group, view: :unpublished %>
      </div>
    </div>
  <% end %>

   <div class="mb-10"> 
      <%= render 'groups/partials/sections', group: @group, sections: @pinned_sections, user_group: @user_group, view: :pinned %>
    </div>
  </div>

  <div class="mb-10"> 
      <%= render 'groups/partials/sections', group: @group, sections: @sections, user_group: @user_group, view: :published %>
    </div>
  </div>
<% end %>
