<tr id='<%= "group-#{group.id}"%>'>
    <td class='<%= "#{primary_td} pl-8"%>'> <%= group.title %> </td>
    <td class='<%= "#{primary_td} pr-8"%>'> <%= group.status.titleize %> </td>
      <td class='<%= "#{primary_td} pr-8"%>'> <%= group.created_at&.strftime("%D") %> </td>
    <td class='<%= "#{primary_td} pr-12"%>'>
      <%= render 'groups/partials/group-actions', group: group, user_group:user_group %>
    </td>
</tr>