<tr id='<%= dom_id(section) %>'>
    <% if view != :unpublished && user_group_section.moderator_or_creator? %>
      <td class='<%= "#{primary_td} pl-12"%>'> 
      <%= render 'groups/partials/section-pin-actions', section: section, group: group %>
    </td >
    <% end %>
    <td class='<%= "#{primary_td} pl-8"%>'> <%= section.title %> </td>
    <td class='<%= "#{primary_td} overflow-hidden max-w-md"%>'> <%= section.description %> </td>
    <% if view == :unpublished %>
    <td class='<%= "#{primary_td} pr-8"%>'> <%= section.status.titleize %> </td>
    <% end %>
      <td class='<%= "#{primary_td} pr-8"%>'> <%= section.created_at&.strftime("%D") %> </td>
    <td class='<%= "#{primary_td} pr-12"%>'>

      <% if user_group_section&.blocked_level? %>
        <button class='<%="#{action_button}"%>'>
          Blocked
        </button>
      <% else %>
        <button class='<%="#{action_button}"%>'>
          <%= link_to "View", group_section_path(group, section), data: {turbo_action: :advance} %>
        </button>
        <% end %>
        <% if user_group_section&.moderator_or_creator? %>
          <button class='<%="#{action_button}"%>'>
            <%= link_to "Edit", edit_group_section_path(group, section), data: {turbo_action: :advance} %>
          </button>
        <% if section.user == current_user || user_group.creator?  %>
          <button class='<%="#{action_button}"%>'>
            <%= link_to "Delete", group_section_path(group, section), data: {turbo_method: :delete } %>
          </button>
            <% if !section.published? %>
              <button class='<%="#{action_button}"%>'>
                <%= link_to "Publish", publish_group_section_path(group, section), data: {turbo_method: :post} %>
              </button>
            <% else %>
              <button class='<%="#{action_button}"%>'>
                <%= link_to "Unpublish", unpublish_group_section_path(group, section), data: {turbo_method: :post} %>
              </button>
            <% end %>
            <% end %>
        <% end %>
    </td>
</tr>