<% reaction_css_class = "flex justify-center relative border-2 border-slate-200 mx-1 p-3 rounded-lg" %>

<div id='<%= "users-#{status}" %>'>
  <% if user_reaction_status == status %>
    <div class='<%= "#{reaction_css_class} border-1 border-red-200 bg-emerald-100"%>'>
    <%= link_to post_user_reaction_path(@post, @current_user_reaction, details: details), data: {turbo_method: :delete} do %>
      <%= render 'posts/user_reactions/user_reaction_detail', status: status, details: details %>
      </div>
    <% end %>
  <% else %>
    <div class='<%= "#{reaction_css_class}"%>'>
      <%= render 'posts/user_reactions/user_reaction_detail', status: status, details: details %>
    </div>
    <% end %>
</div>
