<%= turbo_frame_tag "main_view" do  %>
  <div class="container-md">
    <h1 class='<%="#{primary_header}"%>'> Posts </h1>
 
    <%= render "groups/sections/posts/partials/posts-buttons", view: :index, cached: true %>

    <%= navigation_breadcrumbs(@group, @section)%>

    <%= render "groups/sections/posts/partials/posts", group: @group, section: @section, posts: @posts %>
  </div>
<% end %>