<%= turbo_frame_tag "main_view" do  %>
  <div class="container-md">
    <h1 class='<%="#{primary_header}"%>'> <%= @post.title %> </h1>

    <% if @post.user == current_user || @user_group_section.moderator_or_creator? %>
    <button class='<%="#{primary_button}"%>'>
      <%= link_to "Edit Post", edit_group_section_post_path(@group, @section, @post), data: {turbo_action: :advance} %>
    </button>
    <% end %>

    <%= navigation_breadcrumbs(@group, @section, @post) %>
    
    <div class='<%="#{primary_form}"%>'> 
      <p class="my-5 p-2 flex justify-center"> <span class="font-bold"> <%= @post.title %> </span> </p>

      <% if @post.user == current_user && !@post.published? %>
        <p class="my-5 p-2 flex justify-center"> Status: <%= @post.status.titleize %> </p>
      <% end %>
        <% if @post.published? %>
          <p class="my-5 p-2 flex justify-center">
          Published on <%= @post.published_on.strftime("%D") %>
        <% end %>
      </p> 

      <p class="p-2 flex justify-center"> Content: </p>
      <div class="flex justify-center">
        <%= @post.content %>
      </div>
    </div>
  </div>
<% end %>