<%= turbo_frame_tag "main_view" do  %>
  <div class="container-md">
    <h1 class='<%="#{primary_header}"%>'> Post Details </h1>

    <%= render "groups/sections/posts/partials/posts-buttons", view: :show, cached: true %>

    <%= navigation_breadcrumbs(@group, @section, @post) %>
    
    <div class='<%="#{primary_form}"%>'> 
      <p class="my-5 p-2"> <span class="font-bold"> <%= @post.title %> </span> </p>

      <p  class="p-2"> Description: <%= @post.description %> </p> 

      <p class="my-5 p-2"> Status: <%= @post.status.titleize %> 
        <% if @post.published? %>
          on <%= @post.published_on.strftime("%D") %>
        <% end %>
        </p> 

      <p class="p-2"> Content: <%= @post.content %> </p>
    </div>

    <button class='<%="#{primary_button}"%>'>
      <%= link_to "Edit Post", edit_group_section_post_path(@group, @section, @post), data: {turbo_action: :advance} %>
    </button>
    <button class='<%="#{primary_button}"%>'>
      <%= link_to "New Post", new_group_section_post_path(@group, @section), data: {turbo_action: :advance} %>
    </button>
  </div>
<% end %>