<%= turbo_frame_tag "main_view" do  %>
  <div class="container-md">
    <h1 class='<%="#{primary_header}"%>'> <%= @post.title %> </h1>

    <% if @post.user == current_user || @user_group_section.moderator_or_creator? %>
     <div class="border-4 border-slate-400 bg-slate-200 w-42 px-2 pb-2 absolute left-4 mt-16">
      <p class="text-slate-600 flex justify-center font-medium mt-3"> * Status *  </p> 
      <p class="flex justify-center mt-1"> <%= @post.status.titleize %> </p>
      <div class="mx-auto flex justify-items flex-col">
        <hr class="border-1 border-slate-600 mt-1" >
    <button class='<%="#{primary_button}"%>'>
      <%= link_to "Edit Post", edit_group_section_post_path(@group, @section, @post), data: {turbo_action: :advance} %>
    </button>
    </div>
    </div>
    <% end %>

    <%= navigation_breadcrumbs(@group, @section, @post) %>


    <div class='<%="#{primary_form}"%>'> 
      <p class="my-5 p-2"> <span class="font-bold"> <%= @post.title %> </span> 

        <% if @post.published? %>
        <span>
          Published on <%= @post.published_on.strftime("%D") %>
        <% end %>
        </span>
      </p> 

      <div class="flex justify-center ml-2">
        <%= @post.content %>
      </div>
    </div>
  </div>
<% end %>