<%= turbo_frame_tag "main_view" do  %>

  <div class='<%= "#{sticky_top_action_bar}" %>'>
    <%= navigation_breadcrumbs(@group, @section, @post) %>
    <% if @post.user == current_user || @user_group_section.moderator_or_creator? %>
      
      <div class="mx-auto flex justify-center">
        <button class='<%="#{primary_button}"%>'>
          <%= link_to "Edit Post", edit_group_section_post_path(@group, @section, @post), data: {turbo_action: :advance} %>
        </button>
      </div>  
    <% end %>
  </div>

  <div class="container-md">

    <div class='<%="#{primary_form}"%>'> 
    <div class='mt-2 p-2 rounded-lg'>
      <p class="flex justify-center bg-white">
         <span class="font-medium text-2xl"> <%= @post.title %> </span>       
      </p> 

      <p class="flex justify-center bg-white pb-2"> <span class="ml-1 mr-1"> by <%= @post.user.full_name %>  </span> 
        <% if @post.published? %>
          <span >
          | Published on <%= @post.published_on.strftime("%D") %>
          </span>
          <% if post_edited?(@post) %>
            <span class="ml-1">
              | Edited on  <%= @post.updated_at.strftime("%D") %>
          <span>
          <% end%>
        <% end %>
      </p>
      </div>

      <div class="flex justify-center mt-2 mx-2 pt-2 pb-6 mb-2 bg-white">
        <%= @post.content %>
      </div>
      <hr class="border-1 border-slate-600 mt-1 mb-4">
      <div>
        Reactions:
        </div>
        <span> Likes: <%= @post.user_reactions.like.count %> </span> | 
        <span> Loves: <%= @post.user_reactions.love.count %> </span> | 
        <span> Cares: <%= @post.user_reactions.care.count %> </span> | 
        <span> Laughs: <%= @post.user_reactions.laugh.count %> </span> |
        <div>
          <%= render 'groups/sections/posts/partials/reaction_actions', post: @post, current_user_reaction: @current_user_reaction %>
          </div>
    </div>
  </div>

  <div class='<%="#{primary_form}"%> my-10 flex justify-center p-4'> 
    <h3> Images: </h3>
    <div id='images-container'>
      <% @post.images.each do |image| %>
        <%= link_to(image_tag(image.representation(resize_to_limit: [100, 100])), post_image_path(@post, image.blob_id), data: {turbo_stream: true })  %>
    <% end%>
    </div>
    <div id="larger-image">

      </div>
   </div>
    
   <div class='<%="#{primary_form}"%> my-10 p-4'> 
    <h3 class="flex justify-center"> Comments: </h3>
    <div id="comments-container">
      <% if @comments.empty? %>
        <div id="empty-comments">
          <hr class="border-1 border-slate-600 mt-1 mb-4">
          <p  class=" mt-2 flex justify-center"> No comments yet. Be the first! </p>
        </div>
      <% else %>
        <% @comments.each do |comment| %>
          <%= render 'groups/sections/posts/comments/comment', comment: comment, post: @post, user_group_section: @user_group_section%>
        <% end %>
      <% end %>
    </div>
   </div>

    <% if @user_group_section.can_comment? %>
      <%= render 'groups/sections/posts/comments/form', post: @post %>
    <% end %>
<% end %>