<% url_path = mass_add_view ?  mass_add_topic_invites_path : topic_invites_path %> 

<div class='<%="#{primary_form}"%>'>
  <%= form_with url: url_path do |f| %>

    <p  class="max-w-l mt-4">
      <%= f.label :invite_tier%>
      <br>
      <%= f.select :invite_tier, invite_creation_invite_tier_options %>
    </p>

    <p class="max-w-l mt-4">
      <%= f.label :note %> (Optional)
      <br>
      <%= f.text_area :note %>
    </p>

    <% if mass_add_view %>  
      <p class="max-w-l">
        <%= f.label :target_emails %> <br> <%= f.text_area :target_emails %>
      </p>
    <% else %>
      <p class="max-w-l">
        <%= f.label :target_email %> <br> <%= f.text_field :target_email %>
      </p>
    <% end%>

    <button class='<%="#{secondary_button}"%>'>
      <%= f.submit "Send invite"%>
    </button>
  <% end %>
</div>