<div class="container-md">
  <h1 class='<%="#{primary_header}"%>'> Invites </h1>

  <%= render 'invites-buttons', cached: true, view: :index %>

  <div class="bg-slate-200 mt-5">
    <table class="border-collapse table-auto w-full text-sm">
      <thead class="pt-5">
        <tr> 
          <th class='<%="#{primary_th} pl-8"%>'> Email </th>
          <th class='<%="#{primary_th}"%>'> Status </th>
          <th class='<%="#{primary_th} pr-8"%>'> Role </th>
          <th class='<%="#{primary_th} pr-8"%>'> Actions </th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <% @invites.each do |invite| %>
          <tr>
            <td class='<%= "#{primary_td} pl-8"%>'> <%= invite.target_email %> </td>
            <td class='<%= "#{primary_td}"%>'> <%= invite.status.titleize %> </td>
            <td class='<%= "#{primary_td} pr-8"%>'> <%= invite.invite_tier %> </td>
            <td class='<%= "#{primary_td} pr-12"%>'>  </td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>