<div class="container-md">
  <h1 class='<%="#{primary_header}"%>'> Invite new member for "<%= @topic.title %>"</h1>

  <% view_state = @mass_add_view ? :mass_add : :new %>
  
  <%= render "invites-buttons", view: view_state %>
  <%= render "form", invite: @invite, mass_add_view: @mass_add_view %>

  <button class='<%="#{secondary_button}"%>' >
    <%= link_to "Cancel invite", topic_path(@topic) %>
  </button>
</div>
