<button class='<%="#{primary_button}"%>'>
  <%= link_to "'#{@topic.title}' Info", topic_path(@topic) %>
</button>

<% if view != :new %>
  <button class='<%="#{primary_button}"%>'>
    <%= link_to "Create New Post", new_topic_post_path %>
  </button>
<% end%>

<% if view != :index %>
  <button class='<%="#{primary_button}"%>'>
    <%= link_to "Posts", topic_posts_path %>
  </button>
<% end%>
