<div class="container-md">
  <h1 class='<%="#{primary_header}"%>'> Posts </h1>
 
  <%= render "posts-buttons", view: :index, cached: true %>

  <div class="bg-slate-200 mt-5">
    <table class="border-collapse table-auto w-full text-sm">
      <thead class="pt-5">
        <tr> 
          <th class='<%="#{primary_th} pl-8"%>'> Title </th>
          <th class='<%="#{primary_th}"%>'> Description </th>
          <th class='<%="#{primary_th} pr-8"%>'> Status </th>
          <th class='<%="#{primary_th} pr-8"%>'> Published On </th>
          <th class='<%="#{primary_th} pr-12"%>'> Actions </th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <% @posts.each do |post| %>
          <tr>
            <td class='<%= "#{primary_td} pl-8"%>'> <%= post.title %> </td>
            <td class='<%= "#{primary_td}"%>'> <%= post.description %> </td>
            <td class='<%= "#{primary_td} pr-8"%>'> <%= post.status.titleize %> </td>
            <td class='<%= "#{primary_td} pr-8"%>'> <%= post.display_published_on %> </td>
            <td class='<%= "#{primary_td} pr-12"%>'>
              <button class='<%="#{action_button}"%>'>
                 <%= link_to "View", topic_post_path(@topic.id, post.id) %>
               </button>
               <button class='<%="#{action_button}"%>'>
                 <%= link_to "Edit", edit_topic_post_path(@topic.id, post.id) %>
               </button>
               <% if !post.published? %>
                <button class='<%="#{action_button}"%>'>
                 <%= link_to "Publish", publish_topic_post_path(@topic.id, post.id), data: {turbo_method: :post} %>
               </button>
              <% else %>
                <button class='<%="#{action_button}"%>'>
                  <%= link_to "Unpublish", unpublish_topic_post_path(@topic.id, post.id), data: {turbo_method: :post} %>
                </button>
              <% end %>
            </td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>