<%= turbo_frame_tag "main_view" do  %>
  <div class="container-md">
  <h1 class='<%="#{primary_header}"%>'> Create New Post for "<%= @topic.title %>"</h1>

  <%= render "topics/posts/partials/posts-buttons", view: :new, cached: true %>

  <%= render "topics/posts/partials/form", post: Post.new, view: :new %>

  </div>
<% end %>