<div class="container-md">
  <h1 class="text-3xl font-bold text-slate-200 underline"> Posts </h1>
 
  <%= render "posts-buttons", view: :index, cached: true %>

  <div class="bg-slate-200 mt-5">
    <table class="border-collapse table-auto w-full text-sm">
      <thead class="pt-5">
        <tr> 
          <th class="border-b font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 text-left"> Title </th>
          <th class="border-b font-medium p-4 pt-0 pb-3 text-slate-400 text-left"> Description </th>
          <th class="border-b font-medium p-4 pr-8 pt-0 pb-3 text-slate-400 text-left"> Status </th>
          <th class="border-b font-medium p-4 pr-8 pt-0 pb-3 text-slate-400 text-left"> Published On </th>
          <th class="border-b font-medium p-4 pr-8 pt-0 pb-3 text-slate-400 text-left"> Actions </th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <% @posts.each do |post| %>
          <tr>
            <td class="border-b border-slate-100 p-4 pl-8 text-slate-500"> <%= post.title %> </td>
            <td class="border-b border-slate-100 p-4 text-slate-500"> <%= post.description %> </td>
            <td class="border-b border-slate-100 p-4 pr-8 text-slate-500"> <%= post.status.titleize %> </td>
            <td class="border-b border-slate-100 p-4 pr-8 text-slate-500"> <%= post.display_published_on %> </td>
            <td class="border-b border-slate-100 p-4 pr-12 text-slate-500">
              <button class="bg-slate-300 border-slate-500 p-1 hover:text-emerald-600">
                 <%= link_to "View", topic_post_path(@topic.id, post.id) %>
               </button>
               <button class="bg-slate-300 p-1 hover:text-emerald-600">
                 <%= link_to "Edit", edit_topic_post_path(@topic.id, post.id) %>
               </button>
               <% if !post.published? %>
                <button class="bg-slate-300 p-1 hover:text-emerald-600">
                 <%= link_to "Publish", publish_topic_post_path(@topic.id, post.id), method: :get %>
               </button>
              <% else %>
              <button class="bg-slate-300 p-1 hover:text-emerald-600">
                 <%= link_to "Unpublish", unpublish_topic_post_path(@topic.id, post.id), method: :get %>
               </button>
               <% end %>
               <%# <% <button class="bg-slate-300 p-1 hover:text-emerald-600"> %>
                 <%# <%= link_to "Delete", topic_post_path(@topic.id, post.id), data: { turbo_method: :delete } %> 
               <%# </button> %>
               </td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>
</div>