<% url_path = mass_add_view ?  mass_add_group_invites_path : group_invites_path %> 

<div class='<%="#{primary_form} m-10 p-10"%>'>
  <%= form_with url: url_path do |f| %>

    <p  class="max-w-l mt-4">
      <%= f.label :role_tier%>
      <br>
      <%= f.select :role_tier, invite_creation_invite_tier_options %>
    </p>

    <p class="max-w-l mt-4">
      <%= f.label :note %> (Optional)
      <br>
      <%= f.text_area :note %>
    </p>

    <% if mass_add_view %>  
      <p class="max-w-l">
        <%= f.label :target_emails %> <br> <%= f.text_area :target_emails %>
      </p>
    <% else %>
      <p class="max-w-l">
        <%= f.label :target_email %> <br> <%= f.text_field :target_email %>
      </p>
    <% end%>

    <button class='<%="#{secondary_button}"%>'>
      <%= f.submit "Send  Invite",   data: {turbo_action: :advance}%>
    </button>
  <% end %>
</div>