<%= turbo_frame_tag "main_view" do  %>
  <div class="container-md">
  <h1 class='<%="#{primary_header}"%>'> Invite new member for "<%= @group.title %>"</h1>

  <% view_state = @mass_add_view ? :mass_add : :new %>
  
  <%= render "invites-buttons", view: view_state %>
  <%= render "form", invite: @invite, mass_add_view: @mass_add_view %>

  <button class='<%="#{secondary_button}"%>' >
    <%= link_to "Cancel invite", group_path(@group), data: {turbo_action: :advance} %>
  </button>
  </div>
<% end %>
