<!DOCTYPE html>
<html>
  <head>
    <title>RosieApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container flex justify-center mt-12 mx-auto px-5 bg-gradient-to-r from-emerald-700 via-slate-500 to-red-200">
    <main>
      <%= render "layouts/header" %>
      <%= render "layouts/flash", flash: flash %> 
      <div id="main_view">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
