<!DOCTYPE html>
<html>
  <head>
    <title>RosieApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container flex justify-center mx-auto mt-28 px-5 bg-emerald-700">
    <main>
      <div id="flash">
        <%= render "layouts/header", cached: true %>
        <%= render "layouts/flash" %> 
      </div>
      <div id="main_view">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
